.review {
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

@media only screen and (max-width: 600px) {
    .review {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .costumer {
        visibility: hidden;
    }
}