.course {
    margin: auto;
    width: 95vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.course-heading {
    font-size: 32px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(50, 214, 235);
}

.course-specific-image {
    width: 60vw;
}

.course-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}

.course-body-content-image {
    width: 70vw;
}

.course-body-content {
    background-color: #d6d2d2;
    padding: 1px 10px;
    margin: 10px auto;
} 

.course-body-content p{
    text-align: left;
}

@media only screen and (max-width: 992px) {

    .course-specific-image {
        width: 95vw;
    }

    .course-body {
        grid-template-columns: 1fr;
    }

    .course-body-content {
        width: 90vw;
        padding: 0px 5px;
    }

    .training-courses {
        margin-left: -4vw;
    }
}