.display-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 97.5vw;
    margin: 0px 10px;
}

.event{
    width: 25.8vw;
    margin: 10px auto;
    height: 72vh;
}

@media only screen and (max-width:600px){
    .display-images{
        grid-template-columns: 1fr;
        grid-gap: 50px;
        margin: 0px;
    }

    .event{
        width: 95vw;
        margin: auto;
        height: 65vh;
    }
}

@media only screen and (max-width:1100px){
    .event{
        display: none;
    }
}