.about {
    width: 55vw;
    margin: auto; 
}

.about-heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 3px solid #32d6eb;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .about {
        width: 100vw;
        margin: auto 1vw; 
    }

    .about-heading {
        padding: 10px 20px;
    }
}