.enquiry-box {
    position: fixed;
    bottom: 0;
    right: 110px;
    width: 200px;
    padding: 2px;
    border: 3px solid rgb(71, 137, 212);
    background-color: rgb(71, 137, 212);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    cursor: pointer;
}

.enquiry-icon {
  width: 22px;
  position: absolute;
  left: 20%;
}

@media only screen and (max-width: 600px) {
  .enquiry-box {
    left: 46.5vw;
    width: 80px;
    border: 2px solid rgb(71, 137, 212);
    font-size: 12px;
    padding: 3.5px;
    padding-left: 28px;
  }

  .enquiry-icon {
    left: 2px;
    top: 1.2px;
  }
}

