.header {
    background-color: #4789d4;
    padding: 10px;
    height: 140px;
    width: 100vw;
}

.logo {
    position: relative;
    width: 9.7vw;
    float: left;
    margin: 5px 10px;
}

.contacts {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    height: 95px;
}

.contact {
    float: left;
    padding: 0px 35px;
    cursor: pointer;
    height: 90px;
    /* width: 100vw; */
}

.headings{
    padding: 0px 10px;
    /* margin-top: -40px; */
}

.menu {
    position: absolute;
    visibility: hidden;
}

.text-heading {
    position: relative;
    float: left;
    margin: 5px 2px;
    background-color: white;
    padding: 5px 10px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    margin-top: -10px;
}

.text-heading:hover {
    background-color: rgb(42, 212, 241);
}

.icons{
    position: relative;
    top: 20px;
}

.linkedin{
    width: 25px;
}

.fb{
    margin: 0px 20px;
}

.twitter{
    width: 29px;
}

.phone{
    position: absolute;
    top: 23px;
    left: 155px;
    width: 25px;
}

.whatsapp{
    position: absolute;
    top: 22px;
    left: 345px;
    width: 25px;
}


.gmail{
    position: absolute;
    top: 20px;
    left: 555px;
    width: 30px;
}

@media only screen and (max-width: 600px) {
    .header {
        height: 10vh;
        width: 94vw;
    }

    .logo {
        width: 10vh;
        margin: -2px; 
    }

    .contact {
        visibility: hidden;
        position: absolute;
    }

    .phone{
        position: absolute;
        visibility: hidden;
    }
    
    .whatsapp{
        position: absolute;
        visibility: hidden;
    }
    
    
    .gmail{
        position: absolute;
        visibility: hidden;
    }

    .menu {
        position: absolute;
        top: 10px;
        right: 2px;
        margin: 3px 12px;
        background-color: #4789d4;
        width: 20px;
        cursor: pointer;
        visibility: visible;
    }

    .text-headings{
        margin-top: -7vh; 
    }

    .heading-text {
        position: absolute;
        visibility: hidden;
    }

    .heading-data {
        position: absolute;
        visibility: hidden;
    }

    .text-heading {
        font-size: 18px;
        width: 80vw;
        margin-top: 5px;
    }

    .icons{
        position: absolute;
        visibility: hidden;
    }
}