.imageholder{
  width: 95%;
  overflow: hidden;
  max-height: 72vh;
  position: relative;
  margin: 10px auto;
  margin-bottom: 10px;
}

.images {
    margin: auto;
    width: 100%;
    height: 72vh;
}

@media only screen and (max-width: 600px) {
  .imageholder{
    width: 95vw;
    height: 190px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: -50px;
  }

  .images {
    margin: auto;
    height: 180px;
  }
}