.course-container {
    width: 90vw;
    margin: 20px auto;
    padding: 20px;
}

.courses-head {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 2px solid gainsboro;
    padding: 10px;
}

.courses-heading {
    width: 85vw;
    margin: 0 auto;
    padding: 5px 0px;
    background-color: rgb(227, 229, 233);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
    cursor: pointer;
}

.coursename {
    margin: 0px auto;
    padding: 12px;
    color: white;
    border-radius: 5px;
    background-color: #4789d4;
    width: 85%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.coursename:hover {
    background-color: #25b1b6;
}

@media only screen and (max-width: 600px) {
    .courses-heading {
        width: 91vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 3px;
        cursor: pointer;
    }

    .coursename {
        margin: 0px auto;
        padding: 12px;
        color: white;
        border-radius: 5px;
        background-color: #4789d4;
        width: 95%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}