.toggler{
    width: 90%;
    margin: auto;
    font-size: 14px;
    background-color: #d6d2d2;
}

.toggler-main-heading{
    padding: 10px 20px 0px 20px ;
    text-align: left;
    color: #5bbaca;
    height: 28px; 
    border-top: 1px solid rgb(214, 210, 210);
    cursor: pointer;
    
    /* user-select: none; */
}

.toggler-icon{
    text-align: end;
    position: relative;
    bottom: 25px;
    font-size: 25px;
}

.toggle-content-heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.toggle-content {
    font-size: 16px;
    color: #313131;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    padding: 11px;
    letter-spacing: 0.4px;
}

.about-image {
    width: 20%;
    float: left;
    margin: -5px 10px;
}

@media only screen and (max-width: 600px) {
    .toggler-main-heading{
        padding: 10px 20px 0px 20px ;
        height: 28px; 
        border-top: 1px solid rgb(214, 210, 210);
    }

    .toggler-icon{
        bottom: 25px;
    }

    .toggler{
        font-size: 11px;
    }

    .toggle-content {
        font-size: 14px;
        padding: 2px;
        /* height: 115px;
        letter-spacing: 0.4px; */
    }

    .about-image {
        width: 28%;
        float: left;
    }
}